body {
  background: url("/images/bg-mobile.svg") no-repeat;
  background-position: top;
  background-size: contain;
  background-color: var(--clr--violet);
  font-family: var(--ff--primary);
  color: var(--clr--white);
}

@media only screen and (min-width: 900px) {
  body {
    background: url("/images/bg-desktop.svg") no-repeat;
    background-position: top;
    background-size: 100% 100%;
    background-color: var(--clr--violet);
    font-family: var(--ff--primary);
    color: var(--clr--white);
  }
}
