body {
  background: url("/images/bg-mobile.svg") no-repeat;
  background-position: top;
  background-size: contain;
  background-color: var(--clr--violet);
  font-family: var(--ff--primary);
  color: var(--clr--white);
}
